<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebPriceChangeLite</display-name>
  
  <filter>
  	<description></description>
  	<display-name>PCInputFilter</display-name>
  	<filter-name>PCInputFilter</filter-name>
  	<filter-class>pricechange.lite.PCInputFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PCInputFilter</filter-name>
  	<servlet-name>PriceChangeServlet</servlet-name>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>
		</description>
    <res-ref-name>jdbc/ERWWDataSourceWithPwd</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Unshareable</res-sharing-scope>
  </resource-ref>  
</web-app>