<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<display-name>WebSessionClient3Lite</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
		<servlet>
		<display-name>WebClient3Servlet</display-name>
		<servlet-name>WebClient3Servlet</servlet-name>
		<servlet-class>websession.client1.lite.WebClient1Servlet</servlet-class>
	</servlet>
	<session-config>
		<cookie-config>
			<name>WebCookieName</name>
			<path>/</path>
			<http-only>true</http-only>
			<secure>false</secure>
			<attribute>
				<attribute-name>MyAttributeName</attribute-name>
				<attribute-value>valueExample</attribute-value>
			</attribute>
		</cookie-config>
	</session-config>
</web-app>
