# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Don't ignore jar files in any level of binary and dependencies
!**/binaries/**/*.jar
!**/libs/**/*.jar

# virtual machine crash logs
hs_err_pid*

# Ignore Gradle files
.gradle/
build/

# Ignore Maven target folder
target/

# Ignore IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Ignore Eclipse files
.settings/
*.classpath
*.project

# Ignore VS Code files
.vscode/

# Ignore everything in codeql-db except the directory itself
codeql-db/*
!codeql-db/.keep
