<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>WebStatefulTest</display-name>
	<servlet>
		<display-name>
		STController</display-name>
		<servlet-name>STController</servlet-name>
		<servlet-class>
		webstateful.STController</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>Submit</param-name>
			<param-value>/STResultsForm.jsp</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>SessionTest</param-name>
			<param-value>/SessionResultsForm.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>STController</servlet-name>
		<url-pattern>/STController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>sfsbRealm</realm-name>
	</login-config>

   <jsp-config>
   		<taglib>
   			<taglib-uri>http://WebStatefulEJBLite/CallStatefulTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallStatefulTag.tld</taglib-location> 
   		</taglib>
   		<taglib>
   			<taglib-uri>http://WebStatefulEJBLite/CallSessionTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallSessionTag.tld</taglib-location> 
   		</taglib>
  </jsp-config>
</web-app>
