<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>
	WebDelivery</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		DEController</display-name>
		<servlet-name>DEController</servlet-name>
		<servlet-class>delivery.lite.sync.async.ejb.DEController</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>Manual</param-name>
			<param-value>/DEResultsForm.jsp</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>AutoGeneration</param-name>
			<param-value>/DEAGResultsForm.jsp</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>DeliveryQuery</param-name>
			<param-value>/DEQuery.jsp</param-value>
		</init-param>
		<security-role-ref>
			<description>
			</description>
			<role-name>CompanyRole</role-name>
			<role-link>CompanyRole</role-link>
		</security-role-ref>
	</servlet>
	<servlet-mapping>
		<servlet-name>DEController</servlet-name>
		<url-pattern>/DEController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name> DeliveryConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>webResCollection</web-resource-name>
			<url-pattern>/DECController</url-pattern>
			<url-pattern>/DEInputForm.html</url-pattern>
			<url-pattern>/*.jsp</url-pattern>
			<url-pattern>/*</url-pattern>	
			<url-pattern>/WebDeliveryEJB3/DEController</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Company level authorization</description>
			<role-name>CompanyRole</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>webderealm</realm-name>
	</login-config>
	<security-role>
		<role-name>CompanyRole</role-name>
	</security-role>
	<ejb-ref id="DeliverySessionRemote">
		<ejb-ref-name>ejb/DeliverySessionRemote</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
	</ejb-ref>
	<ejb-ref id="DeliverySessionLocal">
		<ejb-ref-name>ejb/DeliverySessionLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
	</ejb-ref>
    <jsp-config>
   		<taglib>
   			<taglib-uri>http://WebDeliveryLite_SyncAsyncEJB/CallAutoGenTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallAutoGenTag.tld</taglib-location> 
   		</taglib>
   		<taglib>
   			<taglib-uri>http://WebDeliveryLite_SyncAsyncEJB/CallManualTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallManualTag.tld</taglib-location> 
   		</taglib>
   		<taglib>
   			<taglib-uri>http://WebDeliveryLite_SyncAsyncEJB/DeliveryOutputDetailTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/DeliveryOutputDetailTag.tld</taglib-location> 
   		</taglib>
   </jsp-config>
</web-app>
