<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>WebConsistencyCheckLite</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ForceIncrementServlet</display-name>
		<servlet-name>ForceIncrementServlet</servlet-name>
		<servlet-class>consistency.check.lite.ForceIncrementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForceIncrementServlet</servlet-name>
		<url-pattern>/ForceIncrementServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>
		</description>
		<res-ref-name>jdbc/ERWWDataSourceWithPwd</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>