<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>WebPriceChangeJMSLite</display-name>
	<servlet>
		<description>
		</description>
		<display-name>JMSController</display-name>
		<servlet-name>JMSController</servlet-name>
		<servlet-class>pricechange.jms.lite.JMSController</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>AutoGeneration</param-name>
			<param-value>/JMSAGResultsForm.jsp</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>Manual</param-name>
			<param-value>/JMSResultsForm.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JMSController</servlet-name>
		<url-pattern>/JMSController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref id="ResourceRef_1097874069112">
		<description>
		</description>
		<res-ref-name>jms/PriceChangeQCF</res-ref-name>
		<res-type>jakarta.jms.QueueConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1097874075020">
		<description>
		</description>
		<res-ref-name>jms/PriceChangeRequestQ</res-ref-name>
		<res-type>jakarta.jms.Queue</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1097874081449">
		<description>
		</description>
		<res-ref-name>jms/PriceChangeReplyQ</res-ref-name>
		<res-type>jakarta.jms.Queue</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
   <jsp-config>
   		<taglib>
   			<taglib-uri>http://WebPriceChangeJMSLite/CallManualTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallManualTag.tld</taglib-location> 
   		</taglib>
   		<taglib>
   			<taglib-uri>http://WebPriceChangeJMSLite/CallAutoGenTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/CallAutoGenTag.tld</taglib-location> 
   		</taglib>
   		<taglib>
   			<taglib-uri>http://WebPriceChangeJMSLite/PriceChangeOutputTag.tld</taglib-uri> 
   			<taglib-location>/WEB-INF/PriceChangeOutputTag.tld</taglib-location> 
   		</taglib>
  </jsp-config>
</web-app>
