<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" 
version="3.0" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>WebCustomSalesQuoteLite</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>CustomerSecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>CustomerWebResource</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			Authorized CustomerRole</description>
			<role-name>CustomerRole</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config id="LoginConfig_1">
		<auth-method>FORM</auth-method>
		<form-login-config id="FormLoginConfig_1">
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/LoginError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>CustomerRole</role-name>
	</security-role>
</web-app>